* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 500px;
}

.banner {
    background-color: black;
    min-height: 80px;
    margin-bottom: 40px;
}

.meniu {
    min-height: 80px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.profile, .btn {
    background-color: black;
    min-height: 50px;
    display: flex;
    list-style: none;
    align-items: center;
    color: white;
}

.profile {
    gap: 1.5em;
}

main {
    min-height: 500px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 1.5em;
}

.section, .aside {
    min-height: 400px;
}

.section {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    border: 1px solid black;
}

.aside, .sectionbottom {
    flex: 1;
}

.sectiontop, .sectionbottom {
    min-height: 100px;
    background-color: white;
    display: flex;
}

.sectiontop {
    flex: 2;
    justify-content: center;
}

.sectionbottom, .aside {
    flex-direction: column;
}

/* user card */

.card {
    width: 750px;
    background-color: white;
    border: 1px solid black;
}

.header {
    height: 100px;
    background-color: lightblue;
    position: relative;
}

.buble {
    height: 50px;
    width: 50px;
    position: absolute;
    top : 75px;
    left: 50px;
}

.usercardmain {
    background-color: white;
    padding: 30px;
}

.map, .gear {
    height: 20px;
    width: 20px;
}

.underline {
    text-decoration: underline;
}

.virsus {
    min-height: 50px;
    background-color: brown;
    flex: 1;
}

.apacia {
    min-height: 50px;
    flex: 2;
    margin-top: 10px;
    margin-left: 25px;
}

.Education, .Requests {
    color: white;
    margin-top: 10px;
    margin-left: 25px;
}

.asidetop, .asidebottom {
    min-height: 150px;
    background-color: white;
    border: 1px solid black;
}

.aside {
    display: flex;
    gap: 1.5em;
}

.asidetop {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.asidebottom, .asidetopmain {
    flex: 2;
}

.icons {
    height: 25px;
    width: 25px; 
}

.asidetopbanner, .asidetopmain {
    min-height: 50px;
}

.asidetopbanner {
    flex: 1;
    color: white;
    background-color: brown;
}

.asidetopmain {
    display: flex;
    flex-direction: column;
}

.request1, .request2 {
    min-height: 50px;
}

.usercircle, .usercircle1 {
    height: 25px;
    width: 25px;
}

.usercircle1 {
    margin-left: 100px;
    margin-right: 10px;
}

.names {
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
}

.mygtukai {
    min-height: 50px;
    min-width: 50px;
}

.asidebottom {
    display: flex;
    flex-direction: column;
}

.asidebottom1, .asidebottom2, .asidebottom3 {
    min-height: 50px;
    border-top: 1px solid black;
}

.asidebottom1 {
    background-color: brown;
}

.lasttext{
    color: lightblue;
    text-decoration: underline;
    margin-left: 10px;
    margin-top: 10px;
}